{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>About me</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style.css' %}">

</head>
<body>


<div id="container">

        <div>
            {% include 'header.html' %}
        </div>
 
    <div class="content">

            {% include 'info.html' %}

        <div class="hub">
            <div id="maintext">
                    <h1>About me</h1>
            </div>
            <div id="about-text">
                    <p> &emsp; Hello guys! my name is Ramawajdi Kanishka Anwar. You could call me kani. I was born in 12nd January of 1999 in Jakarta, Indonesia. I have 1 elder sister. Im an informatics system student at University of Indonesia. Im on my second year right now. I will put my hobbies and track record on my Interests and Track Record tab. Here is my short Biodata!</p>
            </div> 
            <div id="about-biodata">
                    <ul>
                        <li> > Full name : Ramawajdi Kanishka Anwar</li>
                        <li> > DoB : 12 January 1999</li>
                        <li> > NPM : 1706043595</li>
                        <li> > Occupation : Student (Informatics System at University of Indonesia) </li>
                        <li> > Blood type : O</li>
                    </ul>
            </div> 
            <div id="about-social-media">
                    <h2>--Social Media--</h2>
            </div> 
            <div id="about-sosmed-list">
                    <ul>
                        <li> > Facebook : Ramawajdi Kanishka anwar</li>
                        <li> > Instagram : ramawajdi.ka</li>
                        <li> > LINE : ramawajdika</li>
                        <li> > LinkedIn : Ramawajdi Kanishka</li>
                    </ul>
            </div>   
        </div>
        
    </div>
</div>



</body>
</html> 
