{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style.css' %}">

</head>
<body>


<div id="container">

        <div>
            {% include 'header.html' %}
        </div>
 
    <div class="content">
        
            {% include 'info.html' %}

        <div class="hub">
            <div id="maintext">
                    <h1>Form Registrasi</h1>
            </div>
              <div class="container-fluid">
        <div class="wrapper-form">
            <div class="input-row">
                <label for="input-name">Nama</label>
                <input type="text" class="form-control" placeholder="Nama anda">
            </div>
            <div class="input-row">
                <label for="input-birthdate">Tanggal Lahir</label>
                <input type="date" class="form-control" value="2018-09-21">
            </div>
            <div class="input-row">
                <label>Alamat surel</label>
                <input type="email" class="form-control" placeholder="Example@Example.com">
            </div>
            <div class="input-row">
                <label>Nama Akun</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="nama akun">
                </div>
            </div>
            <div class="input-row">
                <label>Kata Sandi</label>
                <input type="password" class="form-control" placeholder="kata sandi anda">
            </div>
            <div class="input-row">
                <label>Konfirmasi Password</label>
                <input type="password" class="form-control" placeholder="Confirm your Passowrd">
                <small>Pastikan kata sandi anda telah benar dan identik dengan yang sebelumnya</small> 
            </div>   
            <br>
            <button type="submit" class="btn btn-primary" id="btn-register">Daftar</button>
        </div>
    </div>
        </div>
        
    </div>
</div>



</body>
</html> 

