{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style.css' %}">

</head>
<body>


<div id="container">

        <div>
            {% include 'header.html' %}
        </div>
 
    <div class="content">

            {% include 'info.html' %}

        <div class="hub">
            <div id="maintext">
                    <h1>Welcome to my profile!</h1>
            </div>
            <div id="hub-button" class="row">
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'about' %}">
                      <img src="https://files.catbox.moe/0uon1l.png">  
                    </a>
                    <h2>About me</h2>
                </div>
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'record' %}">
                    <img src="https://files.catbox.moe/tstbwr.png"></a>
                    <h2>Track Record</h2>
                </div>
                <div class="col-md-4 hub-icon">
                    <a href="{% url 'interest' %}">
                        <img src="https://files.catbox.moe/4v5oas.png">
                    </a>
                    <h2>Interests</h2>
                </div>
            </div>
        </div>
        
    </div>
</div>



</body>
</html> 

