{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Song covers</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet " type="text/css" href="{% static 'mainfiles/css/style.css' %}">

</head>
<body>


<div id="container">

        <div>
            {% include 'header.html' %}
        </div>
 
    <div class="content">

            {% include 'info.html' %}

        <div class="hub">
            <div id="maintext">
                    <h1>Song Covers</h1>
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/cjueoh.jpg">
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/1x1lmr.jpg">
            </div>
            <div id="cover">
                <img src="https://files.catbox.moe/k1abmf.jpg">
            </div>
            <div id="checkmore">
                <h3>More of my covers can be enjoyed on my Soundcloud!</h3>
            </div>
            <div id="sc-logo">
                <span class="row logo">
                     <img src="https://files.catbox.moe/vtr6nw.jpg">
                     <h5>https://soundcloud.com/shirai_ground</h5>
                </span>
               
                
            </div>
           
        </div>
        
    </div>
</div>



</body>
</html> 
